<app-nabvar></app-nabvar>
<!-- sacar-->
<div class="card">
  <div class="card-body">
      <div class="input-group mb-3">
          <h5 class="card-text mt-2" style="margin-left: 10%;">Busqueda de Espectaculos </h5>
          <input type="text" class="form-control input" type="search" placeholder="Search" aria-label="Search" name="filter" >
          <span class="material-icons" role="button">
              search
          </span>
          <div class=" login ">
              <a class="card-text " role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Login/Register</a>
              <h6 class="card-subtitle text-muted ">Olvido Contraseña?</h6>
          </div>
          <span class="material-icons ">
              person
          </span>
      </div>

  </div>
</div>
<!--fin sacar-->

<!--contenedor de preguntas-->
<div class="container">

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <!--texto-->
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">F.A.Q. - PREGUNTAS FRECUENTES</h5>
          <h2 class="card-title">Información por Contingencia COVID-19</h2>
          <p class="card-text">Para resguardar a nuestros colaboradores, hemos desactivado nuestra línea telefónica del Contact Center. Ellos están trabajando desde sus casas junto a sus familias, atendiendo tus consultas a través de nuestros formularios y correos. Dada la contingencia, tenemos un flujo de consultas mucho mayor que el habitual.<br><br>
            Sabemos que necesitas respuestas rápidas, pero te pedimos compresión porque a veces nuestros tiempos no son correctos, y  estamos haciendo todo lo posible para mejorar.<br><br>
           <b>Siempre estaremos para ayudarte</b> </p>

          <h5 class="card-title">Equipo TopTicket</h5><br>
          <h2 class="card-title">Preguntas Frecuentes</h2> <br>

          <h5 class="card-title">1. ¿Cómo funciona el sistema?</h5> <br>

          <p class="card-text">
            Topticket es la nueva forma de venta y envío de tickets.
           Con Topticket, tus tickets se entregan en un PUNTO DE VENTA o en tu EMAIL,
           permitiendo que uses cualquiera de estos medios para ingresar a tu evento.
           Tu nuevo ticket contiene un Código de barras único, con la información general del boleto y de tu evento, Ej: fecha, ubicación, fila, asiento, etc. Guarda tu ticket en un lugar seguro y en tu celular en la casilla de mensajes y recupéralo cuando llegues al evento. El ticket es al portador, y sirve por una sola vez.
          </p><br>

          <h5 class="card-title">2. ¿Dónde compar mis tickets?</h5> <br>

          <p class="card-text">
            Fácil, puedes comprar directamente en nuestras boleterías autorizadas en Gran Arena Monticello.<br>
            <b>Por Internet</b>, a través del sitio <a  href="www.topticket.cl"> www.topticket.cl.</a><br>
            Paso 1: Lo primero que tienes que hacer es registrarte en nuestro sistema  (en la opción “Login/Registro -> Registro/Register”).
            Completa el formulario de registro y se enviará un correo que permitirá confirmar y finalizar el proceso de creación de cuenta.<br>

            Recuerda que tu password debe tener 8 carácteres como mínimo y contener al menos 2 letras.<br><br>
            Paso 2: Una vez activada tu cuenta de usuario, debes ingresar con tus datos (Rut y Clave) en la opción “Login/Registro -> Login” y
            activar la opción “No soy un Robot”.<br><br>

            Paso 3: Ya en el sistema, elige el evento al cual deseas asistir.
             En su interior encontrarás información de las distintas localidades con sus respectivos precios.
              Selecciona en el mapa la localidad que deseas, luego marca los asientos que necesites y agrégalos
               al carro de compras.  Si quieres comprar asientos en distintas localidades o diferentes eventos,
                deberás repetir el proceso. Podrás revisar tu carro de compra en cualquier momento y confirmar
                 que son los asientos que seleccionaste. En caso de que la ubicación que elegiste no sea numerada,
             solo deberás elegir la cantidad total de entradas que necesites y agregar al carro de compras. <br><br>

             Paso 4: Cuando ya hayas elegido todas tus entradas, ya sean numeradas o no,
              en la parte inferior de la pagina encontraras todo lo que incluiste en tu carro de compras,
               debes clickear la opción “Pagar” para asegurar tus entradas. Una segunda forma para revisar tu
               selección es dirigirte a la parte superior derecha de la página y
             al lado derecho ubicaras el dibujo de carro de compras en donde tambien encontrarás la opción “Pagar”. <br><br>

             Paso 5: Tendrás que elegir tu medio de pago, el cual puede ser Tarjeta de Crédito, Débito,
             Onepay o mediante Tarjetas de Prepago,
             sigue las indicaciones de la pagina de Transbank para que su compra sea exitosa.<br><br>

             Recuerda que en cada paso se pide tu confirmación,
             por lo que debes revisar constantemente que todas las opciones elegidas sean las que tú deseas. <br><br>

             Paso 6: Al finalizar la compra, recibirás un email de confirmación indicando el número de la orden de compra,
             cantidad de entradas compradas y tus entradas en formato PDF. Este mail es tu confirmación de la compra,
             por lo tanto lo debes imprimir y presentar al momento de hacer ingreso al evento. Si no tienes la posibilidad de imprimir
              tus E-Tickets puedes presentarlos en tu celular en las puertas de acceso pero siempre desde el mismo archivo,
             una captura de pantalla no podrá ser leida por nuestros equipos.
          </p><br>
          <h5 class="card-title">3. ¿Cómo puedo pagar mi Ticket?</h5> <br>
          <p class="card-text">
            Dependiendo de la forma en que compres: <br>
            En los <b>puntos de venta</b> podrás pagar en <b>efectivo</b> o con tus <b>tarjetas bancarias</b> de <b>crédito</b> o <b>débito</b>.
             Para ver todos nuestros puntos de venta, visita <a href="http://shop.topticket.cl/donde-comprar">http://shop.topticket.cl/donde-comprar</a> . <br><br>

             En nuestro <b>punto de venta</b>  en <b>Gran Arena Monticello</b> solo podras pagar con <b>efectivo</b> tus tickets,
             en cualquier otro <b>punto de venta físico autorizado</b> podras utilizar efectivo o tarjetas bancarias. <br><br>

             <b>A través de internet</b> bajo el sistema <b>Web Pay Plus</b> podrás pagar utilizando tus <b>tarjetas de crédito, débito,
              onepay y prepago</b> . La plataforma cuenta con un sistema Redcompra integrado.

          </p><br>
          <h5 class="card-title">4. ¿Puedo reservar entradas?</h5> <br>

          <p class="card-text">
            No, tu entrada será reservada durante 30 minutos, tiempo disponible para finalizar tu compra.
            Si no terminas tu compra, la reserva temporal será anulada y la entrada estará disponible nuevamente para el resto de los usuarios.
          </p><br>

          <h5 class="card-title">5. ¿Cuál es el máximo de tickets que puedo comprar?</h5> <br>

          <p class="card-text">
            Generalmente cada usuario tiene límite de compra de 10 tickets por evento, aunque debes revisar las condiciones de cada uno de los eventos de tu interés. <br>
          </p><br>

          <h5 class="card-title">6. ¿Cómo se entregan mis boletos de Topticket?</h5> <br>

          <p class="card-text">
            Los boletos de Topticket se entregan dependiendo de cómo los hayas comprado:<br><br>

            Físicamente en papel a través de  los puntos de venta o boleterías del evento.<br><br>

            Para compras por internet, recibirás un email con un boleto digital el que podrás imprimir o mostrar directamente desde tu dispositivo móvil(*) en el momento de acceder al evento. <br><br>

            <small>*Es importante que tu E-Ticket sea mostrado directamente desde el archivo que entregamos via mail, ya que en las puertas de acceso una captura de pantalla
              no podrá ser leída por nuestros equipos.</small><br>

          </p><br>

          <h5 class="card-title">7. ¿O sea existe más de un tipo de ticket?</h5> <br>

          <p class="card-text">
            Claro, Topticket te ofrece una gama de posibilidades para hacer más cómoda la entrega de tus tickets. <br><br>

            <b>Ticket de papel:</b> Estos son los tickets que recibirás en los puntos de venta físicos en Mall Plaza y boleterías del evento.<br><br>

            <b>E-Ticket:</b> Estos son los tickets que recibirás en tu correo electrónico por las compras realizadas a través de nuestra página en internet
            <a href="www.topticket.cl">www.topticket.cl</a>  y que podrás imprimir en tu casa, oficina o en cualquier lugar en donde dispongas de una impresora. Esta impresión puede ser realizada en color o blanco y negro.
             Lo importante es que el código de barras quede legible <br>
          </p><br>


          <h5 class="card-title">8.- ¿Qué costos adicionales tienen estos servicios?</h5>

          <p class="card-text">
            <li>Ticket de papel: Sin costo adicional</li>
            <li>E-Ticket: Sin costo adicional</li>
          </p><br>
          <h5 class="card-title">9. ¿Qué contiene el ticket?</h5> <br>

          <p class="card-text">
            Contiene un código de barras único e información detallada del evento, tal como: fecha del evento, hora,  lugar, sección, fila,
            asiento, etc… tú simplemente guarda el boleto de Topticket en un lugar seguro, ya que es un ticket al portador.
          </p><br>

          <h5 class="card-title">10. ¿Cómo consigo entrar  al evento?</h5> <br>

          <p class="card-text">
            Dependiendo donde hayas comprado tu ticket deberás presentar en el control de acceso un <b>ticket de papel</b>  o un <b>E-Ticket</b>.
             Estos serán habilitados por un lector de código de barras y te darán el ingreso inmediato. Por su parte el código de
             barras será dado de baja, y no podrá ser utilizado nuevamente. En algunos eventos podrán habilitarse puertas especiales para
             los E-ticket. Si tienes E-Ticket no es necesario imprimir el boleto, puedes presentarlo directamente desde tu dispositivo
            móvil en el acceso al evento.
          </p><br>

          <h5 class="card-title">11. ¿Si pido más de un boleto?</h5> <br>

          <p class="card-text">
            Los tickets son individuales, por lo tanto por cada compra te será entregado un ticket y cada ticket deberá ser mostrado al
            ingreso del evento. Independientemente te será entregada una boleta por el total de los tickets. A través de internet puedes
            comprar un máximo de 10 tickets.
          </p><br>

          <h5 class="card-title">12. ¿Qué sucede en el caso que el evento no se realice?</h5> <br>
          <h5 class="card-title">E-Tickets</h5> <br>
          <h5 class="card-title"><i>Devolución por Cancelación o Postergación de un Evento:</i></h5>

          <p class="card-text">
            Cliente se le reembolsará la totalidad del monto de su ticket, incluyendo el cargo por recaudación.
             Para ello el cliente deberá comunicarse con el área  Servicio al Cliente a través del formulario de contacto disponible
              en topticket.cl o mediante correo a consultas@topticket.cl.
              Una vez recibida la información, el reembolso será gestionado dentro de 10 a 15 días hábiles.
              El método de devolución dependerá exclusivamente como el cliente haya pagado su E-Ticket, es decir,
               si el pago fue realizado por medio de Tarjetas de Crédito, se le realizará la reversa  del cobro vía Transbank,
                en cambio si fue a través de Débito o Transferencia Bancaria, se le reembolsará mediante una transferencia electrónica.
          </p><br>
          <h5 class="card-title">Tickets Puntos de Venta</h5> <br>
          <h5 class="card-title"><i>Devolución por Cancelación o Postergación de un Evento:</i></h5> <br>
          <p class="card-text">
            Ante la cancelación o posposición de un evento al cliente se le reembolsará la totalidad del monto de su ticket,
             incluyendo el cargo por recaudación. Para ello el cliente deberá comunicarse con el área  Servicio al Cliente a través del
             formulario de contacto disponible en topticket.cl o mediante correo a consultas@topticket.cl. Una vez recibida la información,
              la devolución se gestionará con el local donde fue adquirido el ticket, dentro de un plazo de 10 a 15 días hábiles.
          </p><br>

          <h5 class="card-title">13. ¿Puedo remitir mi ticket a otra persona?</h5> <br>

          <p class="card-text">
            Si, pero debes tener en cuenta que si lo transfieres, es como si lo regalaras.
            Cada ticket  está asociado a un número de transacción,  y a una serie de datos.
             Cada boleto de Topticket es al portador y válido para una sola entrada.
          </p><br>

          <h5 class="card-title">14. ¿Qué pasa si pierdo o deterioro mi ticket?</h5> <br>

          <p class="card-text">
            TopTicket no realiza reposición de boletos si estos han sido perdidos, robado o dañados,
            quedando estos bajo la responsabilidad del cliente. No existen cambios, reembolsos ni devoluciones.
             Por este motivo te recomendamos mantener tu ticket en un lugar fresco y seco, evitando exponerlo al calor,
              humedad, fuego, agua, perfumes, quita esmaltes, entre otros.
          </p><br>

          <h5 class="card-title">15. Compre tickets por internet. ¿Cómo puedo obtenerlos de forma fisica?</h5> <br>

          <p class="card-text">
            Si compraste tus tickets mediante nuestra pagina www.topticket.cl ,
             llegará a tu correo la confirmación de tu compra y un archivo PDF el cual será tu entrada para el evento,
              este archivo se llama E-Ticket y debes presentarlo de forma física imprimiéndolo o mediante tu celular mostrando
              directamente este archivo en el acceso de Gran Arena Monticello.
          </p><br>

          <h5 class="card-title">16. Tengo un niño(a) de 3 años, ¿El paga entrada?</h5> <br>

          <p class="card-text">
            Efectivamente desde los 2 años de edad los niños pagan entrada, si es menor a esa edad
            no debe costear un nuevo ticket para el evento que desee asistir.
          </p><br>

          <h5 class="card-title">17. Por error reenvie mis E-Tickets a un contacto de mi mail, ¿Qué puedo hacer?</h5> <br>

          <p class="card-text">
            Los tickets para cualquier evento de Gran Arena Monticello son al portador,
             por lo tanto la persona que llegue con la entrada podrá hacer uso de ella libremente,
              al escanear el código por nuestros validadores este se bloquea dejando inválida una segunda validación,
               por lo tanto si te sucede un problema de esa índole, debes ponerte en contacto con la persona a quien reenviaste tus
               tickets para darle a entender tu error o seguir nuestras recomendaciones y llegar una hora antes al evento por precaución para que tu E-Ticket sea escaneado y no tengas problemasn al acceso.
          </p><br>

         <br>


        </div>
      </div>
      <!--fin texto-->
    </div>
    <div class="col-sm-1">

    </div>

  </div>

</div>
<!-- fin de contenedor de preguntas-->


<br>
<br><br><br><br>

<app-footer></app-footer>
