<body>
  <app-nabvar></app-nabvar>


  <!-- sacar-->
<div class="card">
  <div class="card-body">
      <div class="input-group mb-3">
          <h5 class="card-text mt-2" style="margin-left: 10%;">Busqueda de Espectaculos </h5>
          <input type="text" class="form-control input" type="search" placeholder="Search" aria-label="Search" name="filter" >
          <span class="material-icons" role="button">
              search
          </span>
          <div class=" login ">
              <a class="card-text " role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Login/Register</a>
              <h6 class="card-subtitle text-muted ">Olvido Contraseña?</h6>
          </div>
          <span class="material-icons ">
              person
          </span>
      </div>

  </div>
</div>
<!--fin sacar-->

  <app-footer></app-footer>

</body>
