
<div class="row ">
  <div class="col-sm-3 card2 text-center" >
      <div class="card-body contenedor ">
          <p class="card-text " style="background-color: var(--blue);margin: 0px 0px 0px !important; ">
              Publicidad</p>
          <!-- <img src="../assets/img/virsky-concerts.jpg " class="card-img-top " alt="... "> -->
          <img src ="../../../assets/img/iconolupa.png " class="card-img-top img" alt="... ">
          <a href="# " class="btn ">Comprar Ticket</a>
      </div>
  </div>

  <div class="col-sm-3 card2 text-center">
    <div class="card-body contenedor ">

        <!-- <img src="../assets/img/virsky-concerts.jpg " class="card-img-top " alt="... "> -->
        <img src ="../../../assets/img/questions.png " class="card-img-top img" alt="... ">
        <a href="# " class="btn ">Comprar Ticket</a>
    </div>
</div>

<div class="col-sm-3 card2 text-center">
  <div class="card-body contenedor ">

      <!-- <img src="../assets/img/virsky-concerts.jpg " class="card-img-top " alt="... "> -->
      <img src ="../../../assets/img/advertising.png " class="card-img-top img" alt="... " title="advertising" width=" 50%" >

  </div>
</div>
</div>





