<footer class="text-center text-lg-start">
   <!-- <div class="text-center  text-ligth p-3" style="color: white;">
        © 2020 Copyright:
        <a class="text-ligth" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div> -->
    <div class="container">

      <div class="row">
        <div class="col-sm-4 text-center  text-ligth p-3" style="color: white;">
          correo<br>
        whatsApp<br>
        </div>s

        <div class="col-sm-4 text-center  text-ligth p-3" style="color: white;">

          <a class="nav-link font" aria-current="page"  routerLink="/questions">Preguntas Frecuentes</a>
        </div>




      </div>
    </div>
</footer>
