:root {
    /* Colors */
    --blue: #0172b6;
    --black: #000000;
    --gray: #b1b1b1;
    --gray2: #e5e5e5;
    --gray3: #9f9f9f;
    --gray4: #333333;
    --white: #FFFFFF;
    --azulclaro: #B8D0EA;
    --totalcopra: #EAEAEA;
    --seguircomprando: #DFDFDF;
}

footer {
    bottom: 0 !important;
    position: fixed;
    width: 100%;
}